$sans-serif: 'Antenna';
$serif: 'FarnhamText';
$red: #C12020;

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
}

h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h4 {
  font-size: 1em;
  color: gray;
}

article section > p {
  font-family: $serif;
  font-size: 1.75em;
  font-weight: bold;
  color: $red;
}
